.bg1 {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(SCP_Secret_Laboratory_Screenshot_2020.04.11_-_00.11.39.80\ \(1\).webp);
    width: 100%;
    height: 1000px;
    margin-top: -185px;
    position: absolute;
    z-index: -1;
}

.sllogo {
    margin-top: -30px;
    margin-left: 50px;
    position: absolute;
    z-index: 1;
    height: 150px;
    width: 150px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(SCP_Secret_Laboratory_Logo.png);
}

.logo {
    margin-top: -70px;
    margin-left: 1230px;
    position: absolute;
    z-index: 1;
    height: 75px;
    width: 75px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(logo\,360x360\,075\,t\,fafafa_ca443f4786.jpg);
}

.nws {
    margin-top: -70px;
    margin-left: 1130px;
    position: absolute;
    z-index: 2;
    height: 75px;
    width: 75px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(ebbd3f619a41db94a6eb7aa417ff78a91084b1b1_full.jpg);
}

.menushka {
    margin-top: 50px;
    margin-left: 200px;
}

.menushka li {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
    margin-right: 30px;
    color: white;
    display: inline-block;
}

.con {
    display: absolute;
    margin-top: -35px;
    margin-left: 1000px;
}

.menu li a {
    padding-right: -30px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium';
    color: white;
    display: inline-block;

}

.con .menu li {
    position: relative;
    display: inline-block;
}

.con .submenu {
    position: absolute;
    width: 20px;
    right: 4px;
    display: none;

}

.con .submenu li {
    display: block;
    color: white;
}

.con .menu li:hover>.submenu {
    display: block;
}

.text {
    margin-top: 100px;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 300px;
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
}

.ct2 {
    color: rgb(255, 0, 0);
}

.steam {
    background-color: rgb(0, 173, 101);
    border: 2px solid black;
    width: 300px;
    height: 40px;
    display: inline-grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-columns: 2fr 1fr;
}

.s1 {
    text-align: center;
    font-size: 15px;
    background-color: rgb(0, 173, 101);
    border: 1px solid black;
    padding: 10px;
}

.s2 a {
    text-align: center;
    font-size: 15px;
    background-color: rgb(0, 173, 101);
    text-decoration: none;
    padding: 10px;
    color: white;
}

.page1 {
    width: 100%;
    height: 750px;
    position: relative;
}

.page2 {
    margin-top: -300px;
}

.bg2 {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(sd.webp);
    width: 100%;
    height: 1000px;
    margin-top: -185px;
    position: absolute;
    z-index: -10;
}

.wis {
    border: 0px solid red;
    width: 500px;
    margin-top: 300px;
}

.white {
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium';
}

.white2 {
    font-size: 50px;
    color: white;
    font-family: 'Franklin Gothic Medium';
}

.line {
    margin-top: -40px;
    background-color: white;
    position: absolute;
    width: 800px;
    height: 5px;
    z-index: 5;
}

.textik {
    margin-left: 300px;
    width: 300px;
    color: white;
    font-family: 'Franklin Gothic Medium';
    text-align: left;
}

.imgs {
    margin-top: -300px;
    margin-left: 700px;
    position: absolute;
    width: 500px;
    height: 300px;

}

.img1 {
    border-radius: 30%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(SCP-Secret-Lab-Steam-Screenshot.webp);
    position: absolute;
    width: 500px;
    height: 250px;
    z-index: 3;
    transition: 2s;
}

.img1:hover {
    margin-left: -100px;
    z-index: 4;
}

.img2 {
    border-radius: 30%;
    margin-top: -25px;
    margin-left: 50px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(SCP_Secret_Laboratory_screen.jpg);
    position: absolute;
    width: 500px;
    height: 250px;
    z-index: 2;
    transition: 2s;
}

.img2:hover {
    margin-left: -100px;
    z-index: 4;
}

.img3 {
    border-radius: 30%;
    margin-top: -50px;
    margin-left: 100px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(SCP_Secret_Laboratory_screen2.jpg);
    position: absolute;
    width: 500px;
    height: 250px;
    z-index: 1;
    transition: 2s;
}

.img3:hover {
    margin-left: -100px;
    z-index: 4;
}

.page3 {
    position: relative;
    margin-top: 370px;
    width: 100%;
    height: 1000px;
}

.bg3 {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(SCP-Secret-Lab-Gate-A-Entrance.webp);
    width: 100%;
    height: 1000px;
    margin-top: -185px;
    position: absolute;
    z-index: -11;
}

/* .character {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Epsilon-11_Upgraded_Render.webp);
    width: 500px;
    height: 1190px;
    position: absolute;
    z-index: -9;
} */

.character2 {
    margin-left: 150px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Alpha-1_Upgraded_Render.webp);
    width: 500px;
    height: 1190px;
    position: absolute;
    z-index: -7;
}

/* .character3 {
    margin-left: 350px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Nu-7_Upgraded_Render.webp);
    width: 550px;
    height: 1150px;
    position: absolute;
    z-index: -8;
} */

.black {
    font-size: 20px;
    color: white;
    font-family: 'Franklin Gothic Medium';
}

.black2 {
    margin-top: 50px;
    font-size: 50px;
    color: white;
    font-family: 'Franklin Gothic Medium';
}

.bis {
    border: 0px solid red;
    width: 500px;
    height: 550px;
    margin-top: 340px;
    margin-left: 760px;
}

.h6t {
    margin-bottom: -25px;
}

.yellow {
    color: rgb(255, 196, 0);
    font-size: 25px;
    margin-bottom: 0px;
}

.text2 {
    color: white;
}

.page4 {
    position: relative;
    width: 100%;
    height: 750px;
    margin-top: -310px;
}

.bg4 {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Server_Room_Top.webp);
    width: 100%;
    height: 750px;
    position: absolute;
    z-index: -11;
    background-color: rgba(0, 0, 0, 0.493);
    filter: brightness(50%)
}

.pk {
    text-align: center;
    color: white;
}

.korobochka {
    margin-top: 150px;
    margin-left: 100px;
    border: 1px solid white;
    width: 600px;
    height: 300px;
    display: grid;
    grid-column: 1/2;
    grid-template: repeat(3, 100px) / repeat(2, 1fr);
}

.zefir {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid white;
    color: white;
}

.zefir1 {
    grid-column: 1/2;
    grid-row: 1/1;
}

.zefir2 {
    grid-column: 2/2;
    grid-row: 1/1;
}

.zefir3 {
    grid-column: 1/1;
    grid-row: 2/2;
}

.zefir4 {
    grid-column: 2/2;
    grid-row: 2/2;
}

.zefir5 {
    grid-row: 3/3;
    grid-column: 1/3;
}

.yellow2 {
    color: rgb(255, 187, 0);
}

.page5 {
    position: relative;
    width: 100%;
    height: 750px;
    margin-top: -5px;
}

.bg5 {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(scp-secret-laboratory-1bbe.jpg);
    width: 100%;
    height: 750px;
    position: absolute;
    z-index: -11;
}

.Ris {
    border: 0px solid red;
    width: 500px;
    margin-top: 300px;
    margin-left: 250px;
}

.otz1 {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Background\ \(2\).png);
    width: 400px;
    height: 200px;
    position: absolute;
    z-index: -10;
    background-color: rgba(0, 0, 0, 0.493);
    margin-top: -500px;
    margin-left: 800px;
}

.otz2 {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(Back2.png);
    width: 400px;
    height: 200px;
    position: absolute;
    z-index: -10;
    background-color: rgba(0, 0, 0, 0.493);
    margin-top: -250px;
    margin-left: 600px;
}

.otz3 {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(back3.png);
    width: 400px;
    height: 200px;
    position: absolute;
    z-index: -10;
    background-color: rgba(0, 0, 0, 0.493);
    margin-left: 800px;
}

.page6 {
    position: relative;
    width: 100%;
    height: 750px;
    margin-top: -5px;
}

.bg62 {
    background-size: 39%;
    background-repeat: no-repeat;
    background-image: url(scp049.webp);
    width: 100%;
    height: 750px;
    position: absolute;
    z-index: -11;
}

.bg6 {
    width: 100%;
    height: 750px;
    position: absolute;
    z-index: -12;
    background-color: black;
}

.dis {
    width: 500px;
    height: 550px;
    margin-top: 150px;
    margin-left: 600px;
}
.black3 {
    margin-top: 50px;
    font-size: 50px;
    color: white;
    font-family: 'Franklin Gothic Medium';
}

.email {
    margin-top: 50px;
    width: 600px;
    height: 200px;
    display: flex;
}

.email1 {
    margin-left: 20px;
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(email1.png);
}

.email2 {
    margin-left: 20px;
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(email2.png);
}

.ending {
    width: 100%;
    height: 300px;
    margin-top: 50px;
    background-color: black;
    display: flex;
}

.nws2 {
    margin-top: 20px;
    margin-left: 20px;
    position: absolute;
    z-index: 2;
    height: 150px;
    width: 150px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(ebbd3f619a41db94a6eb7aa417ff78a91084b1b1_full.jpg);
}

.mena {
    margin-top: 25px;
}

.social {
    margin-left: 50px;
}

.socials {
    margin-top: -40px;
    margin-left: 920px;
}

.linia {
    margin-top: 170px;
    position: absolute;
    background-color: rgb(65, 65, 65);
    width: 100%;
    height: 5px;
}

.ap {
    margin-top: 20px;
    position: absolute;
    color: rgb(65, 65, 65);
    width: 100%;
}

.ap2 {
    margin-left: 950px;
    margin-top: 20px;
    position: absolute;
    color: white;
    width: 100%;

}

.lines {
    width: 50px;
    height: 50px;
    margin-left: 250px;
    margin-top: -40px;
    display: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(Counting_rod_horizontal_red_3.svg.png);
}

.lines:hover {
    margin-left: 255px;
    margin-top: -30px;
    width: 40px;
    height: 40px;
    background-image: url(Counting_rod_vertical_red_3.svg.png);
}
.menushka3 {
    display: none;
}
@media screen and (max-width: 400px) {
    .page1{
        width: 320px;
    }
    .bg1{
        width: 320px;
    }
    .menushka {
        display: none;
    }

    .bg1 {
        background-size: 350%;
    }

    .menushka2 {
        color: rgb(241, 205, 0);
        display: none;
    }

    .lines:hover>.menushka2 {
        display: block;
        list-style-type: none;
        margin-top: 40px;
        margin-left: -150px;
        text-align: right;
    }

    .menushka2 li {
        margin-top: 10px;
    }

    .sllogo {
        height: 50px;
        width: 50px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .con {
        margin-left: 180px;
        margin-top: -14px;
        color: red;
        display: flex;
    }

    .logo {
        display: none;
    }

    .nws {
        display: none;
    }

    .text {
        margin-top: 150px;
        font-size: 15px;
    }

    .s2 {
        padding-top: 10px;
    }

    .lines {
        display: flex;
    }

    .page2 {
        margin-top: -420px;
    }

    .bg2 {
        background-size: 350%;
    }

    .wis {
        border: 0px solid red;
        width: 100%;
        height: 130px;
        margin-top: 300px;
    }

    .white {
        margin-top: 5px;
        font-size: 10px;
    }

    .white2 {
        margin-top: -10px;
        font-size: 30px;
    }

    .line {
        width: 100%;
        margin-top: 10px;
    }

    .textik {
        margin-left: 5px;

    }

    .imgs {
        display: inline-block;
        margin-top: 50px;
        margin-left: 50px;
    }

    .img1 {
        width: 300px;
        height: 150px;
    }

    .img1:hover {
        margin-left: -50px;
        z-index: 4;
    }

    .img2 {
        width: 300px;
        height: 150px;
    }

    .img2:hover {
        margin-left: -50px;
        z-index: 4;
    }

    .img3 {
        width: 300px;
        height: 150px;
    }

    .img3:hover {
        margin-left: -50px;
        z-index: 4;
    }

    .bg3 {
        margin-top: -253px;
        background-size: 350%;
    }

    .chs {
        margin-top: -90px;
        margin-left: -200px;
    }

    .character {
        margin-left: -50px;
    }

    .character2 {
    margin-top: -10px;
        margin-left: 75px;
        width: 550px;
    }

    .character3 {
        margin-top: 10px;
        margin-left: 230px;
    }
    .bis {
    margin-left: 0px;
    width: 200px;
    height: 300px;
    }
    .yellow {
    font-size: 15px;
    }
    .text2 {
    font-size: 10px;
    }
    .page4 {
    margin-top: -455px;
    }
    .bg4 {
    background-size: 440%;
    }
    .pk {
        display: inline-block;
    }
    .korobochka {
        margin-left: 0px;
        display: grid;
        width: 300px;
        height: 300px;
    }
    .page5 {
    margin-top: -80px;
    }
    .bg5 {
    background-size: 350%;
     }
    .Ris {
display: inline-block;
margin-top: 80px;
margin-left: 70px;
    }
    .textik {
    display: inline-block;
    margin-top: -10px;
    }
    .otz1 {
        display: inline-block;
        margin-left: 25px;
        margin-top: 10px;
        width: 250px;
        height: 125px;
    }
    .otz2 {
        display: inline-block;
        margin-left: 25px;
        margin-top: 135px;
        width: 250px;
        height: 125px;
    }
    .otz3 {
        display: inline-block;
        margin-left: 25px;
        margin-top: 250px;
        width: 250px;
        height: 125px;
    }
    .page6 {
        margin-top: -80px;
    }
    .bg6 {
background-size: 100%;
background-repeat: no-repeat;
background-image: url(scp049.webp);
background-color: black;
width: 100%;
height: 1100px;
    }
    .bg62 {
display: none;
    }
    .dis {
    display: inline-block;
    margin-left: 00px;
    margin-top: 10px;
    width: 320px;
    }
    .black3 {
        margin-top: 50px;
        font-size: 40px;
        color: white;
        font-family: 'Franklin Gothic Medium';
    }
    .email {
        margin-top: -10px;
        display: inline-block;
        width: 320px;
        margin-left: 25px;
    }
    .email1 {
        margin-left: 0px;
        width: 250px;
        height: 100px;
    }
    .email2 {
        margin-top: -20px;
        margin-left: 0px;
        width: 250px;
        height: 100px;
    }
.ending {
    display: inline-block;
    color: red;
    margin-left: 0px;
}
.nws2 {
height: 100px;
width: 100px;
margin-left: 100px;
margin-top: -100px;
}
.linia {
    display: none;
}
.menushka3 {
    display: inline-block;
    margin-top: -20px;
    margin-left: -50px;
    width: 350px;
    text-align: center;
}

.menushka3 li {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
    margin-right: 30px;
    margin-top: 15px;
    color: white;
    display: inline-block;
}
.socials {
display: flex;
margin-top: 20px;
margin-left: 5px;
}
.social {
margin-left: 40px;
}
.linia {
    display: inline-block;
margin-left: 0px;
margin-top: 10px;
}
.ap2 {
    font-size: 30px;
margin-top: 100px;
margin-left: 10px;
color: white;
display: inline-block;
width: 230px;
text-align: center;
}
}
